extends ../layout

block content
  .page-header
    h3 Dashboard
  .page-body
    input(type="hidden", name="apiToken" id="apiToken" value=user.apiKey)
    .row
      .device-overview.col-lg-12
        .buttons
          button.btn.btn-default.graph-button Graph view
          button.btn.btn-default.device-edit Properties
        #sensor-graph
          .overlay
            .loading-bar
            span Loading...
  .page-header
    h3 Controllers
  .row
    .controller-page.col-lg-12
      each controller in controllers
        .controller(id= controller.machine_name)
          .info
            .status.disconnected
            .controller-name= controller.name
          .wrapper
            .controller-machine-name= controller.machine_name
            .controller-devices.row
              button.btn.btn-block.btn-primary.device-new
                i.fa.fa-plus
                | Add device
              each device in controller.devices
                .device.col-lg-2.col-md-3.col-sm-6
                  .delete-device
                    i.fa.fa-trash
                  .device-name= device.name

  include ../partials/modals/device/new
  include ../partials/modals/device/edit
  script(src="https://code.highcharts.com/highcharts.src.js")
  script(src="https://code.highcharts.com/stock/modules/exporting.js")
  script(src="./js/dashboard/dashboard.js")
  script(src="./js/dashboard/charts.js")


  