extends ../layout

block content
  .container
    form(method='POST')
      .page-header
        h3 Forgot Password
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        p Enter your email address below and we will send you password reset instructions.
        .row.email-row
          label.col-sm-3.control-label(for='email') Your email address
          .col-sm-7
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)

      .col-sm-offset-3.col-sm-7.reset-button
        .row
          .form-group
            button.btn.btn-primary(type='submit')
              i.fa.fa-key
              | Reset Password
