extends ../layout

block content
    .page-header
        h2 Statistics
    .page-body
        input(type='hidden', name='_csrf', value=_csrf id="_csrf")
        input(type="hidden", name="apiToken" id="apiToken" value=user.apiKey)
        .row
            #total-stats-graph.loading
                .overlay
                    .loading-bar
                    span Loading...
        .controller-stats.row
            .col-md-12.currently-online
                label Microcontrollers currently connected to the app:
                span.online-controllers 0
    .row
        .col-md-6
            .form-group.bs-table#users
                .bs-table-head
                    .row.table-head-row
                        .col-xs-1.table-head
                        .col-xs-offset-3.col-xs-4.table-head
                            | Users
                        .col-xs-4.table-head
                .bs-table-body
                    each item in users
                        .row.table-body-row
                            .col-xs-2.table-body.delete-user(data-uid= item._id)
                                i.delete-icon
                                    .text &times;
                            .col-xs-offset-3.col-xs-4.table-body.name #{item.email}
                            .col-xs-4.table-body
                                button.make-admin.btn.btn-success(data-uid= item._id) Make admin

        .col-md-6
            .form-group.bs-table#admins
                .bs-table-head
                    .row.table-head-row
                        .col-xs-1.table-head
                        .col-xs-offset-3.col-xs-4.table-head
                            | Admins
                        .col-xs-4.table-head
                .bs-table-body
                    each admin in admins
                        .row.table-body-row
                            .col-xs-2.table-body.revoke-admin(data-uid= admin._id)
                                if (admin._id != user.id)
                                    i.delete-icon(data-uid= admin._id)
                                        .text &times;
                            .col-xs-offset-3.col-xs-4.table-body.name #{admin.email}
                            .col-xs-4.table-body.revoke

    script(src="https://code.highcharts.com/highcharts.src.js")
    script(src="https://code.highcharts.com/stock/modules/exporting.js")
    script(src="./js/stats.js")