// List styles.
ul,
ol {
  list-style-type : none;
  margin          : 0;
  padding         : 0;
  &:after{
    clear: both;
    content: '';
    display: block;
  }
}

ol.converted-code {
  counter-reset: item;
  overflow: auto;
  .highlighted-green {
    color: $mint-green;
    font-weight: bold;
    font-size: 17px;
  }
  .tab {
    margin-left: 20px;
  }
  .wrapper {
    margin: auto 0;
  }
  > li {
    @include display-flex();
    height: 30px;
    font-family: $code-font-family;
    &:nth-child(even) {
      background: #e7e7e7;
    }
  }
  > li:before {
    content: counters(item, ".");
    counter-increment: item;
    margin-left: 0;
    margin-right: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background: #b7b7b7;
    color: white;
    font-weight: bold;
    height: 30px;
    padding-top: 3px;
  }
}

dl {
  margin-bottom : $small-spacing;

  dt {
    font-weight : 600;
    margin-top  : $small-spacing;
  }

  dd {
    margin : 0;
  }
}
article, #edit-additional {

  li {
    position     : relative;
    padding-left : 25px;
    &:before {
      position : absolute;
      content  : '';
      left     : 0;
      top   : 0;
    }
  }

  ol {
    list-style-type : none;
    counter-reset   : li-counter;
    li {
      &:before {
        content           : counter(li-counter) ".";
        counter-increment : li-counter;
        font-family       : $heading-font-family;
        font-size         : 15px;
        color             : $accent-red;
      }
    }
  }

  ul {
    li {
      &:before {
        @include border-radius(50%);
        top: 8px;
        width  : 9px;
        height : 9px;
        border : 1px solid $accent-red;
      }
    }
  }

}

