// Table styles.
table {
  border-collapse : collapse;
  margin          : $small-spacing 0;
  table-layout    : fixed;
  min-width           : 100%;
  width: auto;

  &[align='center'] {
    text-align : center;
  }

}
th {
  border-bottom  : 1px solid shade($base-border-color, 25%);
  font-weight    : 600;
  padding        : $small-spacing 0;
  vertical-align : top;
  text-align     : inherit;
}
td {
  border-bottom : $base-border;
  padding       : $small-spacing 0;
  strong {
    font-weight : bold;
  }
}
tr,
td {
  vertical-align : middle;
}
article {

}

.bs-table {
  .col-md-4 {

  }
  .table-head-row {
    border-bottom: 2px solid #32cd80;
    padding-bottom: 15px;
    & > div {
      font-size: 17px;
      font-family: $heading-font-family;
    }
  }
  .table-body-row {
    @include display-flex();
    padding: 10px 0;
    &:nth-child(even) {
      background: #f6f6f6;
    }
    & > div {
      margin: auto 0;
    }
    .info-event {
      font-weight: bold;
      color: #00a5ff;
    }
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
