// Base template
@import "./theme/default/variables";
@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "./theme/default/default";
@import "lib/nice-select";

// Custom stuff
@import "./theme/config/config";
@import "./theme/theme/theme";

// Scaffolding
// -------------------------
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  height: 100%;
  min-height: 100vh;
  font-family: 'Anonymous Pro', sans-serif !important;
  letter-spacing: 0.1em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.navbar.navbar-default {
  z-index: 1;
}