// Base template
@import "./theme/default/variables";
@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "./theme/default/default";
@import "lib/nice-select";

// Custom stuff
@import "./theme/config/config";
@import "./theme/theme/theme";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  height: 100%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  font-size: 15px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

textarea {
  resize: none;
}

input.form-control, .nice-select, textarea.form-control {
  @include box-shadow(none);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 15px;
  border-width: 2px;
  border-color: #eee;
  &:focus, &:hover {
    @include box-shadow(none);
    border-color: $mint-green;
  }
}

label.control-label {
  font-family: $heading-font-family;
  font-weight: normal;
}

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

.navbar-brand {
  font-family: $heading-font-family;
}

.navbar-nav li:not(.dropdown) a {
  font-weight: 600 !important;
}

.alert {
  margin-top: 20px;
}

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

.fa {
  margin-right: 6px;
}

.navbar.navbar-default {
  z-index: 1;
}

.modal-title {
  font-family: $heading-font-family;
  font-size: 17px;
}

.highcharts-credits {
  display: none !important;
}

.action-modal .modal-footer > button {
  display: none;
}