.page-body {
  @include display-flex();
  .device-overview {
    @include transition(500ms width);
    width: 0;
    overflow: hidden;
    .buttons {
      @include display-flex();
      & > * {
        margin-left: auto;
      }
    }
  }
  .device {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
}
.controller-devices {
  @include display-flex();
  flex-wrap: wrap;
  & > div {
    @include border-radius(21px);
    background: #ededed;
    width: 145px;
    text-align: center;
    cursor: pointer;
    &:not(.device-new) {
      margin-left: 30px;
    }
    &.device-new {
      padding-bottom: 10px;
      &:before {
        content: "+";
        display: block;
        font-size: 60px;
        line-height: 55px;
      }
    }
  }
}
.controller-page {
  @include display-flex-item(1);
  .controller-machine-name {
    display: none
  }
  .controller {
    margin-top: 50px;
    .wrapper {
      padding: 10px 50px;
      background: #fbfbfb;
      display: none;
    }
    .info {
      @include display-flex();
      cursor: pointer;
      padding: 10px;
      -webkit-box-shadow: 0px 5px 30px -13px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 5px 30px -13px rgba(0,0,0,0.75);
      box-shadow: 0px 5px 30px -13px rgba(0,0,0,0.75);
    }
    .status {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      display: inline-block;
      margin: auto 30px;
      &.connected {
        background: #17d766;
        background: -moz-linear-gradient(top,  #17d766 0%, #17d766 50%, #16cf62 51%, #16cf62 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#17d766), color-stop(50%,#17d766), color-stop(51%,#16cf62), color-stop(100%,#16cf62));
        background: -webkit-linear-gradient(top,  #17d766 0%,#17d766 50%,#16cf62 51%,#16cf62 100%);
        background: -ms-linear-gradient(top,  #17d766 0%,#17d766 50%,#16cf62 51%,#16cf62 100%);
        background: linear-gradient(to bottom,  #17d766 0%,#17d766 50%,#16cf62 51%,#16cf62 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17d766', endColorsGradientType=0);
        opacity: 0.8;
        filter:alpha(opacity=80);
      }
      &.disconnected {
        background: #f23311;
        background: -moz-linear-gradient(top,  #f23311 0%, #f23311 50%, #e32c0c 51%, #e32c0c 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f23311), color-stop(50%,#f23311), color-stop(51%,#e32c0c), color-stop(100%,#e32c0c));
        background: -webkit-linear-gradient(top,  #f23311 0%,#f23311 50%,#e32c0c 51%,#e32c0c 100%);
        background: -ms-linear-gradient(top,  #f23311 0%,#f23311 50%,#e32c0c 51%,#e32c0c 100%);
        background: linear-gradient(to bottom,  #f23311 0%,#f23311 50%,#e32c0c 51%,#e32c0c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23311', endColorstr='#e32c0c',GradientType=0);
        opacity: 0.8;
        filter:alpha(opacity=80);
      }
    }
  }
}

.modal-background {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.75);
  z-index: 2;
  position: absolute;
  top: 0;
  .modal {
    background: white;
    position: sticky;
    max-height: 800px;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}