.page-body {
  @include display-flex();
  .device-overview {
    @include transition(500ms width);
    width: 0;
    overflow: hidden;
    .buttons {
      @include display-flex();
      & > * {
        margin-left: auto;
      }
    }
  }
  .device {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
}

.controller-devices {
  @include display-flex();
  flex-wrap: wrap;
  & > div {
    @include border-radius(21px);
    background: #ededed;
    width: 145px;
    text-align: center;
    cursor: pointer;
    &:not(.device-new) {
      margin-left: 30px;
    }
    &.device-new {
      padding-bottom: 10px;
      &:before {
        content: "+";
        display: block;
        font-size: 60px;
        line-height: 55px;
      }
    }
  }
}

.controller-page {
  @include display-flex-item(1);
  .controller-machine-name {
    display: none
  }
  .controller {
    margin-top: 50px;
    .wrapper {
      padding: 10px 50px;
      background: #fbfbfb;
      display: none;
    }
    .info {
      @include display-flex();
      @include box-shadow(0 5px 30px -13px rgba(0, 0, 0, 0.75));
      cursor: pointer;
      padding: 10px;
    }
    .status {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      display: inline-block;
      margin: auto 30px;
      &.connected {
        @include green-orb();
      }
      &.disconnected {
        @include red-orb();
      }
    }
  }
}

.pins {
  @include display-flex();
  flex-wrap: wrap;
  .right-form {
    display: none;
  }
  & > div {
    @include border-radius(21px);
    background: #ededed;
    width: 145px;
    text-align: center;
    cursor: pointer;
    &:not(.add-pin) {
      margin-left: 30px;
    }
    &.add-pin {
      padding-bottom: 10px;
      &:before {
        content: "+";
        display: block;
        font-size: 60px;
        line-height: 55px;
      }
    }
  }
}

.modal {
  .modal-body {
    .form-group {
      clear: both;
    }
  }
}

.nice-select {
  float: none;
}

.graph {
  @include transition(height 300ms ease-in);
  height: 0;
  &.loading,
  &.opened {
    height: 200px;
  }
}

@keyframes loading {
  0%, 100% {
    @include transform(translate(0, 0));
  }

  50% {
    @include translate(translate(80px, 0));
    background-color: #f5634a;
    width: 25px;
  }
}

.overlay .loading-bar {
  animation: loading 2s cubic-bezier(.17, .37, .43, .67) infinite;
}

