.page-body {
  .device-overview {
    @include transition(500ms width);
    overflow: hidden;
    .buttons {
      @include display-flex();

    }
  }
  .device-edit {
    margin-right: auto;
    margin-left: 20px;
  }
  .device {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
}

.controller-devices {
  //display: grid;
  //grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  //grid-template-rows: auto;
  & > div {
    @include border-radius(21px);
    text-align: center;
    cursor: pointer;
    height: 89px;
    margin: 15px 0;
    &.device-new {
      padding-bottom: 10px;
      &:before {
        content: "+";
        display: block;
        font-size: 60px;
        line-height: 55px;
      }
    }
  }
}

.controller-page {
  .controller-machine-name {
    display: none
  }
  .controller {
    margin-top: 50px;
    .wrapper {
      padding: 10px 50px;
      background: #fbfbfb;
      display: none;
    }
    .info {
      @include display-flex();
      @include box-shadow(0 5px 30px -13px rgba(0, 0, 0, 0.75));
      cursor: pointer;
      padding: 10px;
    }
    .status {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      display: inline-block;
      margin: auto 30px;
      &.connected {
        @include green-orb();
      }
      &.disconnected {
        @include red-orb();
      }
    }
  }
}

.pins {
  @include display-flex();
  flex-wrap: wrap;
  .right-form {
    display: none;
    padding: 5px;
    text-align: left;
    .save-pin {
      margin-top: 10px;
    }
  }
  & > div {
    @include transition(width 300ms ease-in);
    @include border-radius(21px);
    @include display-flex-item(1);
    background: #ededed;
    text-align: center;
    cursor: pointer;
    min-height: 89px;
    margin-top: 5px;
    &:nth-child(2n + 2) {
      margin-left: 5px;
    }
    &.opened {
      @include box-shadow(0 5px 30px -13px rgba(0, 0, 0, 0.75));
      width: 100%;
      flex: 0 0 auto;
      .right-form {
        display: block;
      }
    }
    &.add-pin {
      padding-bottom: 10px;
      .top-part:before {
        content: "+";
        display: block;
        font-size: 60px;
        line-height: 55px;
      }
    }
  }
}
#new-device-modal {
  .modal-dialog {
    width: 800px;
  }
}
.modal {
  .modal-body {
    .form-group {
      clear: both;
    }
  }
}

.nice-select {
  float: none;
}

.graph {
  @include transition(height 300ms ease-in);
  &.loading,
  &.opened {

  }
}

@keyframes loading {
  0%, 100% {
    @include transform-translate(0, 0);
  }

  50% {
    @include transform-translate(80px, 0);
    background-color: #f5634a;
    width: 25px;
  }
}
.graph {
  @include display-flex();
  &.opened {
    .overlay {
      display: none;
    }
  }
  &.loading {
    .overlay {
      opacity: 1;
    }
  }
}

.overlay {
  opacity: 0;
  margin: auto;
  .message {
    margin: auto;
  }
  .loading-bar {
    @include transition(400ms);
    height: 10px;
    width: 25px;
    animation: loading 2s cubic-bezier(.17, .37, .43, .67) infinite;
  }
}

.home {
  .container {
    margin-top: 50px;
  }
}
.action-modal {
  .modal-footer > button {
    display: none;
  }
}

.device-toggle-wrapper {
  @include display-flex();
  input {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    margin: auto;
    cursor: pointer;
    text-indent: -9999px;
    width: 65px;
    height: 35px;
    background: grey;
    display: block;
    border-radius: 50px;
    position: relative;
    left: -11px;
  }

  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    transition: 300ms ease-in-out;
  }

  input:checked + label {
    background: $mint-green;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 32px;
  }
}

.conditionals {
  .and-group {
    display: none;
  }
  .validation {
    display: none;
  }
}